.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 75px;
  /* 6 */
  /* grid-auto-flow: row; */
  /* 7 */
  /* grid-auto-flow: dense; */
}

.horizontal {
  /* 1 */
  /* grid-column: 1 / span 2; */
  /* 2 */
  /* grid-column: auto / span 2; */
  /* 3 */
  /* grid-column: span 2; */
}

.vertical {
  /* 4 */
  /* grid-row: span 2; */
}

.big {
  /* 5 */
  /* grid-column: span 2;
  grid-row: span 2; */
}
