/* .container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px 50px;
  grid-gap: 3px;
} */

.container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 50px 50px 200px;
  grid-gap: 3px;
}
