* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-block: 5px;
  background-color: royalblue;
  height: 90vh;
}

.item {
  margin-block: 10px;
  /* margin-inline: 5px; */
  background-color: #fff;

  /* height: 100px;
  width: 100px; */
  padding: 20px;
}

header {
  padding: 5px 120px;
  background-color: rgba(100, 100, 100, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 50px;
  display: inline;
}

nav {
  display: inline-block;
  /* margin: 0 auto; */
}

ul {
  display: flex;
  gap: 25px;
}

li {
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.katta-aka {
  display: flex;
  gap: 5px;
}
.item-7 {
  /* align-self: flex-start; */
  /* flex-grow: 1; */
  flex-basis: 100px;
}
.inner-item {
  background-color: #cccccc;
}
