* {
  /* margin: 0;
  padding: 0; */
  text-align: center;
  color: rgb(255, 255, 255);
}

body {
  background-color: #be8ab4;
}

h1 {
  background-color: rgb(255, 255, 255);
  color: rgb(126, 49, 142);
}

a {
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

.cat-text {
  font-size: 24px;
}

img {
  border-radius: 20px;
}

section {
  border: 3px solid rgb(126, 49, 142);
  width: 500px;
  margin: 30px auto;
  padding: 15px;
}

fieldset {
  margin-bottom: 20px;
  padding: 20px;
}

legend {
  background-color: rgb(255, 255, 255);
  color: rgb(126, 49, 142);
}

.form-element {
  padding: 8px 20px;
  background-color: #fff;
  color: rgb(126, 49, 142);
  border-radius: 8px;
  outline: none;
}
