.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-rows: 50px 50px;
  /* grid-template-rows: repeat(2, 50px); */

  /* grid-template: repeat(2, 50px) / repeat(3, 1fr); */
  grid-gap: 3px;
}
